batchprocessing/src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a129bae-96ad-4240-a87d-ebc7eff865ce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="2dd77b2c-3dfa-4a96-ac03-fd120fb0c0a1" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="prashanthi" database="emp" />
	</db:config>
	<flow name="batchprocessingFlow" doc:id="fbf29bda-79e0-43a1-89a8-748647817d58" >
		<http:listener doc:name="Listener" doc:id="f937015a-f720-4122-be2f-3fa15c5bb0d9" config-ref="HTTP_Listener_config" path="bp"/>
		<logger level="INFO" doc:name="Logger" doc:id="1d70476d-5d6f-4f82-8c5a-21d0bc5c9dc7" message="start"/>
		<ee:transform doc:name="Transform Message" doc:id="b85d57b5-8b15-4509-936e-23a043c0dd9d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 50 map{
	id: if($$ == 20) 'error' else 100 +$$,
	"name":"mulesoft"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessingBatch_Job" doc:id="7fb26e55-a076-46bd-a984-7d4f14b735e8" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="59d3f9c3-b743-478a-b5cb-ff004838ff6e" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="db7ce544-c9d4-49bd-86f5-dbec84f4f19c" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="cd81dade-eaf4-4085-8b38-b662dfda153e" message="#[payload]"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="0e101a50-55cb-4d05-8967-6fba19bf86df" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into emp.employee(id,name) values(:id, :name);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="14095705-5e5c-4d19-9063-bbefdbe911e8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="0824ccaf-6c2b-48cb-b2a4-c7938edf6235" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
